.cabecera{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: x-large;
    font-style: oblique;
    text-align: center;
}
#indice{
    text-transform: lowercase;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: large;
}
.contenido{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: medium;
    text-align: justify;
}
#pie{
    font-weight: bold;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}